@import '../../vendor/constants.scss';
@import '../../vendor/mixin.scss';

.score {
  &__wrapper {
    display: flex;
    flex-direction: column;
    margin: 16px 20px;
    background-color: $backgroundWhite;
    padding: 20px 50px;
    border-radius: 10px;
    text-align: center
  }
  &__text {
    @include text($textS, 600, $textBlue);
    padding-bottom: 10px;
  }
  &__value {
    @include text($textXL, 600, $textGray);
    padding-bottom: 5px;
  }
}