@import '../../vendor/constants.scss';

.main {
  max-width: 1400px;
  min-width: 320px;
  margin: 0 auto;
  &__wrapper {
    text-align: center;
    position: relative;
    height: 500px;
  }
  &__triangle {
    padding-top: 100px;
  }
  &__bottoms {
    position: absolute;
    top: 0;
    width: 500px;
    height: 450px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style-type:  none;
    padding: 0;
  }
  &__paper-wrapper {
    justify-self: flex-start;
  }
  &__scissors-wrapper {
    justify-self: flex-end;
  }
  &__rock-wrapper {
    align-self: end;
    grid-column: 1/3;
    grid-row: 2;
    justify-self: center;
  }
  &__bottom:hover {
    transform: scale(1.05);
  }
  &__bottom {
    background-repeat: no-repeat;
    transition: 1s linear;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: 40%;
    cursor: pointer;
    align-self: center;
    &_ {
      display: flex;
    }
    &_paper {
      background-image: url(../../images/icon-paper.svg);
      box-shadow: inset 0px 11px 10px 2px $backgroundButtonShadow, 0px 10px 0px 0px $backgroundPaperTwo;
      border: 20px solid $backgroundPaperOne;
      &_l {
        width: 280px;
        height: 280px;
        border: 30px solid $backgroundPaperOne;
      }
    }
    &_scissors {
      background-image: url(../../images/icon-scissors.svg);
      box-shadow: inset 0px 11px 10px 2px $backgroundButtonShadow, 0px 10px 0px 0px $backgroundScissorsTwo;
      border: 20px solid $backgroundScissorsOne;
      &_l {
        width: 280px;
        height: 280px;
        border: 30px solid $backgroundScissorsOne;
      }
    }
    &_rock {
      background-image: url(../../images/icon-rock.svg); 
      box-shadow: inset 0px 11px 10px 2px $backgroundButtonShadow, 0px 10px 0px 0px $backgroundRockTwo;
      border: 20px solid $backgroundRockOne;
      &_l {
        width: 280px;
        height: 280px;
        border: 30px solid $backgroundRockOne;
      }
    }
    &_winer {
      box-shadow: 0px 0px 0px 60px $backgroundWinOne, 0px 0px 0px 120px $backgroundWinTwo, 0px 0px 0px 180px $backgroundWinThree;
      border-radius: 50%;
      transition: 0.5s linear;
    }
  }
}

@media screen and (max-width: 1110px) {
  .main {
    padding-top: 100px;
  }
}

@media screen and (max-width: 780px) {
  .main {
    padding-top: 170px;
    &__bottoms {
      top: 0;
      width: 440px;
      height: 420px;
    }
    &__triangle {
      width: 235px;
      height: 209px;
    }
    &__wrapper {
      height: 420px;
    }
  }
}

@media screen and (max-width: 480px) {
  .main {
    padding-top: 80px;
    &__bottoms {
      top: 0;
      width: 300px;
      height: 280px;
    }
    &__bottom {
      border-radius: 50%;
      width: 125px;
      height: 125px;
      background-size: 50%;
      cursor: pointer;
      align-self: center;
      &_paper {
        border: 15px solid $backgroundPaperOne;
      }
      &_scissors {
        border: 15px solid $backgroundScissorsOne;
      }
      &_rock {
        border: 15px solid $backgroundRockOne;
      }
    }
    &__triangle {
      padding-top: 75px;
      width: 235px;
      height: 180px;
    }
    &__wrapper {
      height: 280px;
    }
  }
}