@import '../../vendor/constants.scss';
@import '../../vendor/mixin.scss';

.options {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
  text-align: center;
  &__title {
    @include text($textL, 700, $textWhite);
    margin: 20px auto;
  }
  &__wraper {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    justify-content: space-between;
  }
  &__name {
    @include text($textM, 600, $textGray);
    line-height: 1.2;
    align-self: center;
    margin: 20px auto;
  }
  &__button {
    border: none;
    cursor: pointer;
    background: none;
    padding: 0;
    border-radius: 25px;
    overflow: hidden;
    -webkit-box-shadow: 10px 19px 37px 1px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 10px 19px 37px 1px rgba(0, 0, 0, 0.40);
    box-shadow: 10px 19px 37px 1px rgba(0, 0, 0, 0.40);
    transition: 1s linear;
  }
  &__button:hover {
    transform: scale(1.05);
  }
  &__img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
  }
}

@media screen and (max-width: 1100px) {
  .options {
    padding: 40px 60px;
    &__wraper {
      grid-template-columns: repeat(2, 300px);
      justify-content: center;
      gap: 0 40px;
      padding-top: 100px
    }
    &__name {
      @include text($textXS, 600, $textGray);
      line-height: 1;
      margin: 20px auto;
    }
    &__img {
      width: 300px;
      height: 300px;
    }
  }
}

@media screen and (max-width: 780px) {
  .options {
    padding: 40px 60px;
    &_second {
      order: 1;
    }
    &_third {
      order: 2;
    }
    &_forth {
      order: 3;
    }
    &__wraper {
      grid-template-columns: repeat(1, 350px);
      gap: 10px 0;
      padding-top: 50px;
    }
    &__img {
      width: 350px;
      height: 350px;
    }
  }
}

@media screen and (max-width: 480px) {
  .options {
    padding: 20px 30px;
    &__wraper {
      grid-template-columns: repeat(1, 200px);
      padding-top: 30px;
    }
    &__img {
      width: 200px;
      height: 200px;
    }
    &__title {
      @include text($textM, 700, $textWhite);
      margin: 20px auto;
    }
  }
}