@import '../../vendor/constants.scss';
@import '../../vendor/mixin.scss';

.rules {
  position: absolute;
  bottom: 30px;
  right: 30px;
  &__button {
    width: 130px;
    height: 45px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid $backgroundWhite;
    cursor: pointer;
    @include text($textXS, 600, $textWhite);
  }
}

@media screen and (max-width: 480px) {
  .rules {
    text-align: center;
    left: 0;  
    right: 0;
    bottom: 80px;
  }
}